#tabelalista{
display:flex;
flex-direction:row;
}

#tabelalista li{
list-style-type: none;
padding-left:30px;
}

#tabela{
  width:500px;
  
}

.container { text-align: center; } 
.input-field { margin: 5px; } 
.buttons { margin-top: 10px; }